// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

$primaryColor: #0bd951;
$fontColor: #000000;
$fontColorOnGreen: #ffffff;
$darkGray: #3a3a3a;

@mixin fontHeadline{
  font-family: 'Open Sans Condensed', sans-serif;
}

@mixin fontText{
  font-family: 'Quicksand', sans-serif;
}

@mixin buttonGreen {
  cursor: pointer;
  background-color: $primaryColor;
  border: none;
  border-radius: 40px;
  color: $fontColorOnGreen;
  font-size: 18pt;
  @include fontText;
  padding: 5px 30px;
}
@mixin buttonGreenHover{
  background-color: $primaryColor;
  color: $darkGray;
  transition: transform .2s;
  transform: scale(1.1);
}

@mixin buttonWhite{
  cursor: pointer;
  background-color: $fontColorOnGreen;
  border: none;
  border-radius: 40px;
  color: $darkGray;
  font-size: 18pt;
  @include fontText;
  padding: 5px 30px;
}
@mixin buttonWhiteHover{
  @include fontText;
  color: $primaryColor;
  transition: transform .2s;
  transform: scale(1.1);
}

@mixin input{
  font-size: 14pt;
  padding: 6px 0 5px 10px;
  border: 1px solid $darkGray;
  border-radius: 12px;
  background-color: #e3e3e3;

}

body {
  margin: 0; // Ingen kanter i siden af browser
  @include fontText;
}

h1{
  @include fontHeadline;
  text-align: center;
  font-weight: lighter;
  font-size: 35pt;
  color: $darkGray;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
  @include fontHeadline;
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

a{
  text-decoration: none;
}

//Index - Sabine (Start) ----------------------------------------
.index {
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: $primaryColor;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    .prev:hover, .next:hover {
      color: $darkGray;
  }

  .weOffer {
    width: 100%;
    margin-top: 60px;
    .flexContainer {
      display: flex;
      justify-content: center;
      width: 90%;
      margin: 0 auto;
      .flex {
        width: 50%;
        .flexObject {
          text-align: center;
          margin-top: 30px;
          i {
            font-size: 50pt;
            color: $primaryColor;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .popularProduct {
    width: 100%;
    display: flex;
    background-color: $primaryColor;
    margin-top: 60px;
    .popular {
      width: 40%;
      margin: 0 auto;
      margin-top: 60px;
      margin-bottom: 60px;
      p {
        @include fontText;
        text-align: center;
        font-weight: bold;
        font-size: 20pt;
        color: $fontColorOnGreen;
      }
      button {
        @include buttonWhite;
        width: 100%;
        margin-top: 10px;
      }
      button:hover {
        @include buttonWhiteHover;
      }
    }
  }

  .newsletter {
    margin-top: 60px;
    padding: 0 5% 0 5%;
  }
  p {
    @include fontText;
    text-align: center;
    margin-top: 20px;
  }
  form {
    input {
      @include input;
      width: 100%;
      margin-top: 25px;
    }
    button {
      @include buttonGreen;
      width: 70%;
      margin-top: 15px;
    }
    button:hover {
      @include buttonGreenHover;
    }
  }

  .about {
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 0 5% 0 5%;
    .aboutTxt {
      p {
        text-align: left;
      }
    }
    .imgBox {
      margin-top: 20px;
      .quote {
        p {
          text-align: left;
          font-size: 14pt;
        }
      }
    }
  }
}

//Index - Sabine (Slut)------------------------------------------


.products{


  aside{

    .grid{
      display: grid;
      grid-template: 40vw 40vw / 47.5% 5% 47.5%;
      margin: 0 5%;

      ul{
        list-style-type: none;
      }

      h3{
        @include fontText;
        font-weight: 400;
      }

      #gridItem1{
        grid-area: 1 / 1 / 2 / 2;
      }

      #gridItem2{
        grid-area: 1 / 3 / 2 / 4;
      }

      #gridItem3{
        grid-area: 2 / 1 / 3 / 2;
      }

      #gridItem4{
        grid-area: 2 / 3 / 3 / 4;
      }
    }
  }

  section{

    .product{

      h2, h3{
        text-align: center;
      }

      a{
        text-decoration: none;
        color: $fontColor;

      }

      .info{

        h3{
          padding: 5vw 0 0 0;
        }

        .price{
          display: flex;
          justify-content: space-around;

          padding: 3vw 0;

          .icons{
            display: none;
            justify-content: space-around;
            align-items: center;
            width: 50%;
            overflow: hidden;

            .iconImg{
              width: 20%;
            }
          }

          p{
            font-size: 35px;
            font-weight: bold;
            color: $fontColor;
          }
        }
      }

      .inView {
        background-image: linear-gradient(white, $primaryColor);

        .price {

          .icons {
            display: flex;
          }

          p {
            font-size: 45px;
            color: $fontColorOnGreen;
          }

        }
      }

      .flex{
        margin: 10vw 0;
        display: flex;
        justify-content: center;

        button{
          background-color: $primaryColor;
          border: none;
          border-radius: 40px;
          color: $fontColorOnGreen;
          font-size: 30px;
          @include fontText;
          padding: 5px 30px;
        }
      }
    }
  }
}


footer{
  background-color: $primaryColor;

  .footerGradient{
    height: 15vw;
    background-image: linear-gradient(white, $primaryColor);
  }

  .footerContent{
    width: 90%;
    margin: 0 auto;
    background-color: $primaryColor;
    color: $fontColorOnGreen;

    h2{
      text-align: center;
      margin-bottom: 5vw;
    }

    a{
      color: $fontColorOnGreen;
    }

    p{
      font-size: 10pt;
    }

    .flex{
      display: flex;
      justify-content: space-around;
      margin: 10vw 0 0 0;
      font-size: 40px;
    }

    .fTrust{
      margin: 10vw auto 0 auto;
      width: 85%;

    }

    .fContact{
      margin: 10vw 0 0 0;

      .grid{
        display: grid;
        grid-template: auto auto auto auto auto / 45% 10% 45%;

        #fGridItem1{
          grid-area: 1 / 1 / 6 / 2;
        }

        #fGridItem2{
          grid-area: 1 / 3 / 3 / 4;
        }

        #fGridItem3{
          grid-area: 4 / 3 / 6 / 4;
        }
      }
    }

    .fTerms{
      margin: 10vw 0 0 0;
      padding-bottom: 10vw;
    }
  }
}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
  h1{font-size: 45pt}

  .index{
    .weOffer {
      margin-top: 70px;
      .flexContainer {
        width: 80%;
        .flex {
          display: flex;
          justify-content: space-around;
          .i{
            margin-top: 35px;
          }
        }
      }
    }

    .popularProduct{
      margin-top: 80px;
    }
  }


  footer {
    .footerGradient{
      height: 100px;
    }

    .footerContent {
      width: 96%;
      display: grid;
      grid-template: auto auto auto auto / 30% 5% 30% 5% 30%;

      h2 {
        margin: 0 0 15px 0;
      }

      .flex {
        grid-area: 1 / 3 / 2 / 4;
        margin: 0;
      }

      .fTrust {
        grid-area: 3 / 3 / 4 / 4;
        margin: 0 auto;
        padding-bottom: 35px;
      }

      .fTerms {
        grid-area: 2 / 1 / 3 / 2;
        margin: 40px 0 0 0;
        padding: 0;
      }

      .fContact {
        grid-area: 2 / 5 / 4 / 6;
        margin: 0;

        .grid{
          grid-template: auto auto auto auto auto / 40% 9% 51%;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
  footer {
    .footerGradient{
      height: 125px;
    }

    .footerContent {
      width: 90%;

      .fTerms {
        margin: 50px 0 0 0;
      }

      .fContact {
        .grid{
          grid-template: auto auto auto auto auto / 45% 10% 45%;
        }
      }
    }
  }
}

@media print {
  // Alt der gælder for print specifikt
}