// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

$primaryColor: #0bd951;
$fontColor: #000000;
$fontColorOnGreen: #ffffff;
$darkGray: #3a3a3a;

@mixin fontHeadline{
  font-family: 'Open Sans Condensed', sans-serif;
}

@mixin fontText{
  font-family: 'Quicksand', sans-serif;
}

@mixin textInput{
  margin: 2vw;
  padding: 2vw;
  border-radius: 15px;
  border: 1px solid #000;
  background-color: #e6e6e6;
}

@mixin buttonGreen {
  cursor: pointer;
  background-color: $primaryColor;
  border: none;
  border-radius: 40px;
  color: $fontColorOnGreen;
  font-size: 18pt;
  @include fontText;
  padding: 5px 30px;
}
@mixin buttonGreenHover{
  background-color: $primaryColor;
  color: $darkGray;
  transition: transform .2s;
  transform: scale(1.1);
}

@mixin buttonWhite{
  cursor: pointer;
  background-color: $fontColorOnGreen;
  border: none;
  border-radius: 40px;
  color: $darkGray;
  font-size: 18pt;
  @include fontText;
  padding: 5px 30px;
}
@mixin buttonWhiteHover{
  @include fontText;
  color: $primaryColor;
  transition: transform .2s;
  transform: scale(1.1);
}

@mixin input{
  font-size: 14pt;
  padding: 6px 0 5px 10px;
  border: 1px solid $darkGray;
  border-radius: 12px;
  background-color: #e3e3e3;

}

body {
  margin: 0; // Ingen kanter i siden af browser
  @include fontText;
}

h1{
  @include fontHeadline;
  text-align: center;
  font-weight: lighter;
  font-size: 35pt;
  color: $darkGray;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
  @include fontHeadline;
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

a{
  text-decoration: none;
}


header{
  display: grid;
  width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: 30% auto 20%;

.headerLogo{
  z-index: 10;
  display: grid;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  padding-top: 10px;
  justify-items: end;
  height: 7vw;

  img{
    width: 55%;
  }
}

.headerMenuWeb{
  display: none;
}


// DROP DOWN____________________________________________________

/* Giving a background-color to the nav container. */
nav {
  z-index: 5;
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  background-color: $primaryColor;
  padding-top: 5vw;


img {
  width: 40%;
  height: auto;

}

p {
  text-align: center;
}

hr {
  color: rgba(255, 255, 255, 0.50);
}

.toggle, [id^=drop] {
  display: none;
}

  /* Styling the toggle lable */
  .toggle {
    display: block;
    text-decoration:none;
    border:none;
    width: 20%;
    float: right;
  }

  .toggle:hover {
    cursor: pointer;
  }

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
ul {
  padding:0;
  margin: 15vw 0 0 0;
  list-style: none;
  position: relative;
}

/* Positioning the navigation items inline */
ul li {
  margin: 0;
  display:inline-block;
  width: 100%;
}

/* Styling the links */
a {
  display:block;
  padding:14px 7vw;
  color:#FFF;
  font-size: 21pt;
  text-decoration:none;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
ul ul {
  display: none;
  position: absolute;
  /* has to be the same number as the "line-height" of "nav a" */
  top: 25px;
}

.menuLogInd{
  a {
    padding: 14px 7vw 0 7vw;
    line-height: 25px;
  }
}

}

.headerGradient {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  background-image: linear-gradient($primaryColor, transparent);
  height: 15vw;
}

}

//Index - Sabine (Start) ----------------------------------------
.index {
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: $primaryColor;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    .prev:hover, .next:hover {
      color: $darkGray;
  }

  .weOffer {
    width: 100%;
    margin-top: 60px;
    .flexContainer {
      display: flex;
      justify-content: center;
      width: 90%;
      margin: 0 auto;
      .flex {
        width: 50%;
        .flexObject {
          text-align: center;
          margin-top: 30px;
          i {
            font-size: 50pt;
            color: $primaryColor;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .popularProduct {
    width: 100%;
    display: flex;
    background-color: $primaryColor;
    margin-top: 60px;
    .popular {
      width: 40%;
      margin: 0 auto;
      margin-top: 60px;
      margin-bottom: 60px;
      p {
        @include fontText;
        text-align: center;
        font-weight: bold;
        font-size: 20pt;
        color: $fontColorOnGreen;
      }
      button {
        @include buttonWhite;
        width: 100%;
        margin-top: 10px;
      }
      button:hover {
        @include buttonWhiteHover;
      }
    }
  }

  .newsletter {
    margin-top: 60px;
    padding: 0 5% 0 5%;
  }
  p {
    @include fontText;
    text-align: center;
    margin-top: 20px;
  }
  form {
    input {
      @include input;
      width: 100%;
      margin-top: 25px;
    }
    button {
      @include buttonGreen;
      width: 70%;
      margin-top: 15px;
    }
    button:hover {
      @include buttonGreenHover;
    }
  }

  .about {
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 0 5% 0 5%;
    .aboutTxt {
      p {
        text-align: left;
      }
    }
    .imgBox {
      margin-top: 20px;
      .quote {
        p {
          text-align: left;
          font-size: 14pt;
        }
      }
    }
  }
}

//Index - Sabine (Slut)------------------------------------------


.products{

  h1{
    text-align: center;
    margin: 5vw 0;
  }

  .productText{
    width: 90%;
    margin: 5vw auto;
  }

  aside{
    margin: 5vw 0;

    .search{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5vw 0;

      input{
        @include textInput;
        width: 75%;
      }

      button{
        border: none;
        background-color: white;
        font-size: 25px;
      }
    }

    .grid{
      display: grid;
      grid-template: 40vw 40vw / 47.5% 5% 47.5%;
      margin: 5vw 5%;

      ul{
        list-style-type: none;
      }

      h3{
        @include fontText;
        font-weight: 400;
      }

      #gridItem1{
        grid-area: 1 / 1 / 2 / 2;
      }

      #gridItem2{
        grid-area: 1 / 3 / 2 / 4;
      }

      #gridItem3{
        grid-area: 2 / 1 / 3 / 2;
      }

      #gridItem4{
        grid-area: 2 / 3 / 3 / 4;
      }
    }
  }

  section{

    .product{
      margin: 0;

      h2{
        margin: 0 0 5vw 0;
      }

      h2, h3{
        text-align: center;
      }

      a{
        text-decoration: none;
        color: $fontColor;
      }

      .info{
        height: 130px;

        .gradient{
          opacity: 0;
          transition: opacity;
          -moz-transition: opacity;
          -webkit-transition: opacity;
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }

        h3{
          padding: 5vw 0 0 0;
        }

        .price{
          display: flex;
          justify-content: space-around;
          padding: 3vw 0;
          position: relative;

          .icons{
            opacity: 0;
            display: flex;
            transition: opacity;
            -moz-transition: opacity;
            -webkit-transition: opacity;
            justify-content: space-around;
            align-items: center;
            width: 50%;
            overflow: hidden;


            .iconImg{
              width: 20%;
            }
          }

          p{
            position: absolute;
            top: auto;
            bottom: auto;
            left: auto;
            right: auto;

            font-size: 35px;
            font-weight: bold;
            color: $fontColor;
          }
        }
      }

      .inView{
        position: relative;

        .gradient{
          opacity: 1;
          background-image: linear-gradient(white, $primaryColor);
          transition: opacity 2s ease-in-out;
          -moz-transition: opacity 2s ease-in-out;
          -webkit-transition: opacity 2s ease-in-out;
        }

        .price {

          .icons {
            opacity: 1;
            transition: opacity 2s ease-in-out;
            -moz-transition: opacity 2s ease-in-out;
            -webkit-transition: opacity 2s ease-in-out;
          }

          p {
            position: relative;
            font-size: 45px;
            color: $fontColorOnGreen;
          }
        }
      }

      .flex{
        margin: 10vw 0;
        display: flex;
        justify-content: center;

        button{
          background-color: $primaryColor;
          border: none;
          border-radius: 40px;
          color: $fontColorOnGreen;
          font-size: 30px;
          @include fontText;
          padding: 5px 30px;
        }
      }
    }
  }
}

footer{
  background-color: $primaryColor;

  .footerGradient{
    height: 15vw;
    background-image: linear-gradient(white, $primaryColor);
  }

  .footerContent{
    width: 90%;
    margin: 0 auto;
    background-color: $primaryColor;
    color: $fontColorOnGreen;

    h2{
      text-align: center;
      margin-bottom: 5vw;
    }

    a{
      color: $fontColorOnGreen;
    }

    p{
      font-size: 10pt;
    }

    .flex{
      display: flex;
      justify-content: space-around;
      margin: 10vw 0 0 0;
      font-size: 40px;
    }

    .fTrust{
      margin: 10vw auto 0 auto;
      width: 85%;

    }

    .fContact{
      margin: 10vw 0 0 0;

      .grid{
        display: grid;
        grid-template: auto auto auto auto auto / 45% 10% 45%;

        #fGridItem1{
          grid-area: 1 / 1 / 6 / 2;
        }

        #fGridItem2{
          grid-area: 1 / 3 / 3 / 4;
        }

        #fGridItem3{
          grid-area: 4 / 3 / 6 / 4;
        }
      }
    }

    .fTerms{
      margin: 10vw 0 0 0;
      padding-bottom: 10vw;
    }
  }
}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
  h1{font-size: 45pt}

  .index{
    .weOffer {
      margin-top: 70px;
      .flexContainer {
        width: 80%;
        .flex {
          display: flex;
          justify-content: space-around;
          .i{
            margin-top: 35px;
          }
        }
      }
    }

    .popularProduct{
      margin-top: 80px;
    }
  }



  //DROP DOWN____________________________________________________

header {
  display: grid;
  width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: 15% 30% auto;


  .headerLogo{
    z-index: 10;
    display: grid;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    padding-top: 10px;
    justify-items: end;
    height: auto;
    background-color: $primaryColor;

    img{
      width: 45%;
    }
  }

  nav {
    margin: 0;
    z-index: 5;
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
    background-color: $primaryColor;
    padding: 0 5% 0 40%;
    display: grid;
    align-content: end;

  }

  nav ul {
    padding:0;
    margin: 0;
    position: relative;
  }

  nav a {
    display: block;
    padding: 0;
    color:#FFF;
    font-size: 14pt;
    line-height: 18pt;
    text-decoration: none;

  }

  nav .menu{
    display: flex;
    justify-content: space-evenly;
  }

  nav .menuLogInd{
    a {
      padding: 0;
      line-height: 18pt;
    }
  }

  .menuHrLinje {
    display: none;
  }

  /* Hide the navigation menu by default */
  /* Also hide the  */
  nav .toggle + a,
  nav .menu {
  }

  /* Styling the toggle lable */
  nav .toggle {
    display: none;
    text-decoration:none;
    border:none;
    width: 20%;
    float: right;
  }

  nav .toggle:hover {
    cursor: pointer;
  }

  /* Display Dropdown when clicked on Parent Lable */
  [id^=drop]:checked + ul {
    display: block;
  }

  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: auto;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav a:hover,
  nav ul ul ul a {
    font-weight: bold;
  }

  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a{
    padding:14px 20px;
    color:#FFF;
    font-size:17px;
  }


  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #212121;
  }

  /* Hide Dropdowns by Default */
  nav ul ul {
    display: block;
    position:static;
    color: #ffffff;
    /* has to be the same number as the "line-height" of "nav a" */
  }

  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: block;
  }

  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */

  }

  .headerGradient {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    background-image: linear-gradient($primaryColor, transparent);
    height: 5vw;
  }

}



  footer {
    .footerGradient{
      height: 100px;
    }

    .footerContent {
      width: 96%;
      display: grid;
      grid-template: auto auto auto auto / 30% 5% 30% 5% 30%;

      h2 {
        margin: 0 0 15px 0;
      }

      .flex {
        grid-area: 1 / 3 / 2 / 4;
        margin: 0;
      }

      .fTrust {
        grid-area: 3 / 3 / 4 / 4;
        margin: 0 auto;
        padding-bottom: 35px;
      }

      .fTerms {
        grid-area: 2 / 1 / 3 / 2;
        margin: 40px 0 0 0;
        padding: 0;
      }

      .fContact {
        grid-area: 2 / 5 / 4 / 6;
        margin: 0;

        .grid{
          grid-template: auto auto auto auto auto / 40% 9% 51%;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
  footer {
    .footerGradient{
      height: 125px;
    }

    .footerContent {
      width: 90%;

      .fTerms {
        margin: 50px 0 0 0;
      }

      .fContact {
        .grid{
          grid-template: auto auto auto auto auto / 45% 10% 45%;
        }
      }
    }
  }
}

@media print {
  // Alt der gælder for print specifikt
}